
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #212245;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #2096df;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.8s ease-in-out;
    transform: translateX(100%);
    z-index: 1000;
    overflow-y: auto;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar.hidden {
    display: none;
    transition: 1s;
}

.sidebar-content {
    padding: 20px;
}

.sidebar img.closebtn {
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.overlay.open {
    opacity: 0.8;
    display: block;
}





